<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Adams Point Community Council</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active ml-5" href="/logout"><button class="btn btn-outline-dark btn-sm">Log Out</button></a>
	  <a class="nav-item nav-link active ml-5" href="/userHome/submit"><button class="btn btn-outline-dark btn-sm">Submit</button></a>
      <a class="nav-item nav-link active ml-5" href="/userHome/proposals"><button class="btn btn-outline-dark btn-sm">Proposals</button></a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm" style="background-color: #74b7f4">
      <h1 style="margin: 1.2em; color:white; text-align:center">LIBERTY</h1>
    </div>
    <div class="col-sm" style="background-color: #263b7e">
      <h1 style="margin: 1.2em; color:white; text-align:center">EQUALITY</h1>
    </div>
    <div class="col-sm" style="background-color: #fb2b32">
      <h1 style="margin: 1.2em; color:white; text-align:center">SOLIDARITY</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h1>AREA FOR MEMBERS TO DISCUSS PROPOSALS</h1>
  </div>
</div>
  <div class="container">
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>

<footer class="footer fixed-bottom">
  <div class="container">
    <!-- <img src="../images/cityScape2.png" class="img-fluid"> -->
  </div>
</footer>

<script>
  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });  
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  });
</script>


