<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Adams Point Community Council</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <span class="navbar-text">Sign up to get active in the council!</span>
      <a class="nav-item nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<p>Welcome to the {{title}} page.</p>

<form action="/login" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<br>
<br>
<br>
<br>
<a href='/signup'><button class="btn btn-primary">Sign Up</button></a>
